@keyframes growAndColor {
    0% {
        transform: scale(1);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: scale(1.2);
        filter: hue-rotate(180deg);
    }
}

.imagem-animada {
    display: flex;
    transition: transform 0.5s, filter 0.5s;
    width: 50px;
    margin-top: 10px;
}

.imagem-animada:hover {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(32%) sepia(85%) saturate(464%) hue-rotate(170deg) brightness(88%) contrast(97%);
}

.redes-alnh {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.drt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}